BOT_MODE=paper
BYBIT_ENV=mainnet

SYMBOLS=BTCUSDT,ETHUSDT,SOLUSDT
TIMEFRAME=5
CANDLE_LIMIT=300

INITIAL_BALANCE_USDT=100
RISK_PER_TRADE_PCT=0.5
MAX_DAILY_LOSS_PCT=3
MAX_TRADES_PER_DAY=5
MAX_LOSING_STREAK=2

MAX_LEVERAGE=2
MAX_OPEN_POSITIONS=1
MAX_TOTAL_EXPOSURE_PCT=150
MAX_POSITION_NOTIONAL_PCT=120
MAX_MARGIN_USAGE_PCT=80

TELEGRAM_BOT_TOKEN=PUT_YOUR_TOKEN_HERE
TELEGRAM_CHAT_ID_WARNINGS=PUT_WARNINGS_CHAT_ID
TELEGRAM_CHAT_ID_LOGS=PUT_LOGS_CHAT_ID
TELEGRAM_CHAT_ID_TRADES=PUT_TRADES_CHAT_ID
TELEGRAM_CHAT_ID_PROFIT=PUT_PROFIT_CHAT_ID
TELEGRAM_CHAT_ID_LOSS=PUT_LOSS_CHAT_ID
TELEGRAM_CHAT_ID_CONTROL=PUT_CONTROL_CHAT_ID

MIN_SCORE_TO_ENTER=4.5
MIN_RR=1.7
MAX_SPREAD_PCT=0.08
POLL_SECONDS=60
FEE_RATE=0.0006
SLIPPAGE_PCT=0.03

TIMEFRAMES=1,5,15,30,60,240,D,W
ORDERBOOK_LIMIT=50
USE_MTF_FILTER=true
USE_ORDERBOOK_FILTER=true
